<%
# Redmine plugin for xmera called Project Types Relations Plugin.
#
# Copyright (C) 2017-21 Liane Hampe <liaham@xmera.de>, xmera.
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
%>

<% if ProjectTypes.any? %>
  <% if @project.hosts.present? || @project.guests.present?%>
    <div class="projects box">
      <h3><%=l(:label_assigned_project_plural)%></h3> 
      <%= render_associated_projects(project: @project, 
                                    category: :guests, 
                                    label_left: :label_project_type,
                                    label_right: :label_guest_project_plural) %>
      <%= render_associated_projects(project: @project, 
                                    category: :hosts, 
                                    label_left: :label_project_type,
                                    label_right: :label_host_project_plural)%>
    </div>
  <% end %>
<% end %>
