<%
# Redmine plugin for xmera called Project Types Relations Plugin.
#
# Copyright (C) 2017-2023 Liane Hampe <liaham@xmera.de>, xmera Solutions GmbH.
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
%>
  </div>
  <%= error_messages_for 'projects' %>
  <div>
  <% if @project.safe_attribute?('host_ids') %>
    <% unless @project.new_record? || @project.project_type_id.nil? %>
      <fieldset class="box tabular" id="host_projects" >
        <legend>
          <%= toggle_checkboxes_link('#host_projects input[type=checkbox]:enabled') %>
          <%= l(:label_host_project_plural) %>
        </legend>
        <%= host_projects_multiselect(@project, @hosts) %>
      </fieldset>
    <% end %>
  <% end %>
